<h2 class="text-center">Approve Review</h2>
<table class="table container mt-4 border">
  <thead>
    <tr class="bg-info text-dark">
      <!--<th scope="col"></th>-->
      <th scope="col">Brand Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">State</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th>{{item.product.brandName}}</th>
      <th>{{item.rating}}</th>
      <th>{{item.review}}</th>
      <th>{{item.state}}</th>
      <th> <button *ngIf="item.state!='approved'" (click)="approve(item.reviewId)" type="submit"
          class="btn btn-outline-success">Approve</button>&nbsp;</th>
      <th> <button *ngIf="item.state!='disapproved'" (click)="disApprove(item.reviewId)" type="submit"
          class="btn btn-outline-success">disapprove</button>
      </th>
    </tr>
  </tbody>
</table>