<mat-toolbar class="navbar" color="primary">
  <div class="f">Welcome - Product Website</div>
  <div>
    <a *ngIf="!userService.isLoggedIn()" routerLink="login"><span>Login</span></a>
    <a *ngIf="userService.isLoggedIn() && !userService.isAdmin()" routerLink="add-products"><span>Add
        Products</span></a>
    <a *ngIf="userService.isLoggedIn()" routerLink="view-products"><span>Products</span></a>
    <a *ngIf="!userService.isLoggedIn()" routerLink="register"><span>Register</span></a>
    <a *ngIf="userService.isAdmin()" routerLink="approve"><span>Approve</span></a>
    <a *ngIf="userService.isLoggedIn()" routerLink="search"><span>Search</span></a>
    <a *ngIf="userService.isLoggedIn()" (click)="logout()" routerLink="login"><span>Logout</span></a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<br><br>
<footer>
  <div class="icon">
    <i class="fa fa-users" aria-hidden="true"></i> {{noOfUser}}&nbsp; &nbsp; &nbsp;
    <i class='fas fa-tv'></i> {{noOfProducts}}&nbsp; &nbsp; &nbsp;
    <i class="fa fa-commenting" aria-hidden="true"></i> {{noOfReviews}}
  </div>
</footer>