<!--Search the product-->
<div ngNativeValidate class="container">
  <div class="row">
    <div class="col-lg-9 col-sm-12 col-xs-12 mt-5">
      <input type="text" placeholder="Enter Product Name" class="form-control" name="productName"
        [(ngModel)]="productName" required>
    </div>
    <div class="col-lg- col-sm-12 col-xs-12">
      <button type="botton" class="btn btn-info mt-2" (click)="searchByproductName()">Search </button>
    </div>
  </div>

  <table class="table container mt-4 border" *ngIf="product">
    <thead>
      <tr class="bg-info text-dark">
        <!--<th scope="col"></th>-->
        <th scope="col">Brand Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Code</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody class="container">

      <tr *ngFor="let item of product">

        <th>{{item.brandName}}</th>
        <th>{{item.productName}}</th>
        <th>{{item.code}}</th>

        <th> <button *ngIf="product!=null" routerLink="/addreviews/{{item.productId}}" type="button"
            class="btn btn-outline-success">Add Review</button>&nbsp;
          <button *ngIf="product!=null" routerLink="/view-review/{{item.productId}}" type="button"
            class="btn btn-outline-danger">View</button>

        </th>
      </tr>
    </tbody>
    <div class="text-danger bold">{{message}}</div>