<table class="table container mt-4 border">
    <thead>
      <tr class="bg-info text-dark">
        <!--<th scope="col"></th>-->
       <th scope="col">Brand Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Code</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th>{{item.brandName}}</th>
        <th>{{item.productName}}</th>
        <th>{{item.code}}</th>
        <th> <button routerLink="/addreviews/{{item.productId}}" type="button"  class="btn btn-outline-success">Add Review</button>&nbsp;
            <button   type="button" routerLink="/view-review/{{item.productId}}" class="btn btn-outline-danger">View</button>
        
   </th></tr></tbody></table>
  